# Empty Strings are ignored or equivalent to false
# STEAMAPPBRANCH=unstable
LANG=en_EN.UTF-8
NOSTEAM=True
CACHEDIR=
MODFOLDERS=workshop,steam,mods
DEBUG=False
ADMINUSERNAME=admin
ADMINPASSWORD=password
SERVERNAME=ServerName
SERVERPRESET=
IP=
PORT=16261
UDPPORT=16262
STEAMVAC=True
STEAMPORT1=16263
STEAMPORT2=16264
# 6GB
MEMORY=6144m
SOFTRESET=False
MOD_IDS=
WORKSHOP_IDS=
PROJECT_ZOMBOID_DATA=./data
PROJECT_ZOMBOID_WORKSHOP_MODS=./workshop-mods
PASSWORD=password
PUBLIC=True
DISPLAYNAME=SERVERNAME